name: env
variables:
  - name: account_number
    value: A-123
  - name: api_key
    value: api_key_placeholder
  - name: mpan
    value: "1234567890123"
  - name: mprn
    value: "1234567890"
  - name: electric_serial_number
    value: "1234567890"
  - name: gas_serial_number
    value: "1234567890"
  - name: product
    value: INTELLI-FIX-12M-26-04-18
  - name: tariff_code
    value: E-1R-INTELLI-FIX-12M-26-04-18-A

